<template>
	<div class="section-tiles">
		<h2>Company Forms</h2>
		<hr>
		<a href="/complaint">
			<i class="fa fa-file-text"></i>
			<h3>Complaint/Grievance Form</h3>
		</a>
		<a href="/timeoff-request">
			<i class="fa fa-file-text"></i>
			<h3>Timeoff Request Form</h3>
		</a>
	</div>
	<div class="section-tiles">
		<h2>Patient Forms</h2>
		<hr>
		<a href="/incident-report">
			<i class="fa fa-file-text"></i>
			<h3>Incident Report</h3>
		</a>
		<a href="/manager/incident-investigation">
			<i class="fa fa-file-text"></i>
			<h3>Incident Investigation<br />
			/Follow Up</h3>
			<span>(for managers only)</span>
		</a>
		<a href="/mahc-10">
			<i class="fa fa-file-text"></i>
			<h3>MAHC 10</h3>
		</a>
	</div>
	<div class="section-tiles">
		<h2>Social Work Forms</h2>
		<hr>
		<a href="/swat-primary-caregiver">
			<i class="fa fa-file-text"></i>
			<h3>SWAT PCG Version</h3>
		</a>
		<a href="/swat-patient">
			<i class="fa fa-file-text"></i>
			<h3>SWAT Patient Version</h3>
		</a>
		<a href="/swat-patient-caregiver">
			<i class="fa fa-file-text"></i>
			<h3>SWAT Patient/Caregiver Version</h3>
		</a>
	</div>
</template>

<script>
	Jenie.component({
		name: 'view-index',
		template: 'template'
	});
</script>
