<template>
	<div class="section-tiles">
		<div>
			<a href="/incident-report">
			<i class="fa fa-file-text"></i>
			<h3>Incident Report</h3>
			</a>
		</div>
		<div>
			<a href="/manager/incident-investigation">
				<i class="fa fa-file-text"></i>
				<h3>Incident Investigation<br />
		 		/Follow Up</h3>
				<span>(for managers only)</span>
			</a>
		</div>
		<div>
			<a href="/swat-primary-caregiver">
				<i class="fa fa-file-text"></i>
				<h3>SWAT Primary Caregiver</h3>
			</a>
		</div>
		<div>
			<a href="/">
			<i class="fa fa-file-text"></i>
			<h3>Future Form...</h3>
			</a>
		</div>
	</div>
</template>

<script>
	Jenie.register({
		name: 'view-index',
		template: 'template'
	});
</script>
