
<template>
	<!-- <div class="row p5">
		<div class="col-xs-12 form-sec">
			<form>
				<fieldset class="special">
					<legend>Incident Investigation</legend>
					<input class="col-xs-8" type="text" name="Patient Name" placeholder="Patient Name">
					<input class="col-xs-3" type="text" name="Date/Time of Incident" placeholder="Date Time of Incident">
					<fieldset>
						<legend>Investigator's Comments Findings</legend>
						<textarea class="col-xs-11" name="Investigators Comments/Findings" rows="" placeholder="Investigator’s Comments..."></textarea>
						<label for="Actions Taken">Action(s) Taken</label>
						<textarea class="col-xs-11" name="Actions Taken" rows="" placeholder="Action(s) Taken"></textarea>
					</fieldset>
					<fieldset>
						<legend>Investigation Completed By:</legend>
						<input class="col-xs-8" type="text" name="Investigation Completed By" placeholder="Manager Full Name" />
						<input class="col-xs-3" type="date" name="date" />
					</fieldset>
					<button class="submit" type="button" name="button">Submit</button>
				</fieldset>
			</form>
		</div>
	</div> -->
	<iframe src="https://docs.google.com/a/agapehospiceaz.com/forms/d/e/1FAIpQLSdza_Zaxr45Jem4xnxF3738SaFVjOo7WtLJ54NpBJVqFz1oAQ/viewform?embedded=true" frameborder="0"></iframe>
</template>

<script>
	Jenie.component({
		name: 'manager-incident-investigation',
		template: 'template'
	});
</script>
