* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  font-family: 'Open Sans', sans-serif;
}
body {
  background-color: #e0e4ea;
}
main {
  padding: 5%;
  margin: auto;
  box-sizing: border-box;
}
header {
  padding: 0rem 0rem 0rem 4.2rem;
  background: #FC6959;
}
header a {
  color: #fec4bd;
}
header > div:first-child {
  font-size: 2rem;
  padding: 1rem;
  display: inline-block;
}
p {
  margin: 0.5rem 0 0.5rem 0;
}
a {
  text-decoration: none;
  color: inherit;
}
form {
  padding: 8px;
  max-width: 8in;
  background: white;
  box-sizing: border-box;
}
form input,
form textarea {
  border-bottom: 1px solid #C1CAD6 !important;
  border-style: none;
  padding: 0.5rem;
  margin: 0.5rem auto;
  background: #C1CAD6;
  height: auto;
  overflow: hidden;
  width: 100%;
}
form input:focus,
form textarea:focus,
form input:active,
form textarea:active {
  background: #ffffff;
  outline: none;
  border-bottom: 2px;
}
label {
  display: block;
  margin-bottom: -4px;
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 1rem;
  page-break-after: avoid;
}
fieldset {
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #C1CAD6;
}
fieldset:nth-child(1) {
  border: 2px solid #4F4F4F;
}
fieldset:nth-child(2) {
  margin-top: 0;
}
legend {
  font-weight: bold;
  text-align: left;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
button {
  border: none;
  cursor: pointer;
  background: #FC6959;
  border-radius: 1px;
  padding: 1rem 2rem;
  margin: 0.5rem auto;
  color: white;
  font-size: 0.9rem;
  width: 100%;
}
button:hover {
  background: #fb3c27;
}
ol {
  margin-left: 1rem;
}
ol li {
  margin-top: 1rem;
  font-weight: bold;
}
.special {
  border: 2px dotted orange;
  page-break-before: always;
}
.section-tiles {
  padding: 6%;
}
.section-tiles > a {
  color: #FC6959;
  padding: 2rem;
  background: white;
  text-align: center;
  vertical-align: top;
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
  box-shadow: 1px 1px 2px 0px #dddddd;
}
.section-tiles > a:hover {
  box-shadow: 1px 1px 2px 2px #dddddd;
}
.section-tiles > a i {
  display: block;
  font-size: 2rem;
  padding: 1rem;
  color: #FC6959;
}
.radio input {
  width: inherit;
  display: inline-block;
  margin: 0.5rem;
}
.total {
  background-color: #b5eed7;
  color: #4F4F4F;
  padding: 1rem;
  max-width: 33%;
  font-weight: bold;
}
.disclaimer p {
  font-size: 0.8rem;
  color: #4F4F4F;
}
